label {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 16px;
}
input {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #dedede;
    box-sizing: border-box;
}
